In [190]:
import pandas as pd
from tqdm.notebook import tqdm

In [191]:
packages  = pd.read_csv('../data/cleaned_installed_packages.csv')
packages.drop_duplicates(inplace=True)
packages.dropna(inplace=True)

In [220]:
df  = pd.read_csv('../data/package_dependencies.csv')
df = df.query('package!=dependency')
df = df.query('docker == True')
df.drop('docker', axis=1, inplace=True)

In [ ]:
packs = packages.query('image == "library/node"').package.unique()
image  = packages.query('package == "strongloop"').iloc[0].image
packs = packages.query('image == "'+image+'"').package.unique()

mask1 = df.package.isin(packs)
mask2 = df.dependency.isin(packs)
node = df[mask1*mask2]

node['FromType'] = node['base']
node['FromName'] = node['dependency']
node['Edge'] = 'requiredBy'
node['ToType'] = node['base']
node['ToName'] = node['package']
node.drop(['base','package','dependency'], axis=1, inplace=True)

In [91]:
#mask1 = df.package.isin(df.dependency)
#mask2 = df.dependency.isin(df.package)
#df = df[mask1+mask2]

In [196]:
df['FromType'] = df['base']
df['FromName'] = df['package']
df['Edge'] = 'dependsOn'
df['ToType'] = df['base']
df['ToName'] = df['dependency']
df.drop(['base','package','dependency','docker'], axis=1, inplace=True)

In [198]:
df.groupby(['FromType']).count()

          FromName   Edge  ToType  ToName
FromType
node         30928  30928   30928   30928
python        4709   4709    4709    4709
ruby         15101  15101   15101   15101

In [199]:
mask = df.FromName.isin(df.ToName)
df[~mask].groupby(['FromType']).count()

          FromName  Edge  ToType  ToName
FromType
node          4044  4044    4044    4044
python        3022  3022    3022    3022
ruby          6470  6470    6470    6470

In [98]:
mask = df.ToName.isin(df.FromName)
df[~mask].groupby(['FromType']).count()

          FromName  Edge  ToType  ToName
FromType
node          2979  2979    2979    2979
python         745   745     745     745
ruby           244   244     244     244

In [205]:
len(assl)

13536

In [ ]:
# Compute 
mask = df.package.isin(df.dependency)
i=0
assl = df[~mask]
assl['level'] = 0
while (True):
    print(assl[['base','package']].drop_duplicates().size)
    new_df = assl.query('level=='+str(i))[['base','dependency']].drop_duplicates()
    new_df = (new_df
              .rename(columns={'dependency':'package'})
              .merge(df,
                     on = ['package','base']                    )
             )
    
    new_df.dropna(inplace=True)
        
    new_df = (assl.query('level=='+str(i))
          .merge(new_df
                .rename(columns={'dependency':'dependency2', 'package':'dependency'}),
                 on = ['dependency','base']
                )
         )
    
    new_df = new_df[['base','package','dependency2']].drop_duplicates()
    new_df.rename(columns={'dependency2':'dependency'}, inplace=True)
    new_df.dropna(inplace=True)
    
    i=i+1
    new_df['level'] = i
    size_dfs = len(assl[['base','package','dependency']].drop_duplicates())
    size_dfs_compare = len(pd.concat([assl,new_df])[['base','package','dependency']].drop_duplicates())
    print(i,size_dfs, size_dfs_compare)
    if size_dfs == size_dfs_compare:
        break
    assl = pd.concat([assl,new_df])
    assl = assl.sort_values('level').groupby(['package','dependency']).first().reset_index()

In [207]:
test = assl.sort_values('level', ascending=False).groupby(['base','package']).first().reset_index()

In [218]:
image  = packages.query('package == "strongloop"').iloc[0].image
len(packages.query('image == "'+image+'"'))

1398

In [208]:
assl.groupby(['base','dependency']).count().sort_values('package')

                        package  level
base   dependency
node   7zip-bin               1      1
python click-log              1      1
node   frameguard             1      1
       freeport               1      1
python click-datetime         1      1
...                         ...    ...
ruby   pdf-reader          1509   1509
       yard                1510   1510
       parallel            1510   1510
       erubis              1510   1510
       concurrent-ruby     1510   1510

[7653 rows x 2 columns]

In [217]:
assl.groupby(['base','package']).count().sort_values('dependency')

                                    dependency  level
base   package
python django-watchman                       1      1
       rabbitpy                              1      1
       hdate                                 1      1
       django-statsd-mozilla                 1      1
       hgijson                               1      1
...                                        ...    ...
node   polymer-cli                        2735   2735
       @luminati-io/luminati-proxy        2736   2736
       sfdx-cli                           2763   2763
       @vue/cli                           2800   2800
       strongloop                         2814   2814

[3053 rows x 2 columns]

In [115]:
assl.query('dependency =="npm"')

                             package dependency  base  level
2253                   @adonisjs/cli        npm  node      2
5673                    @angular/cli        npm  node      2
9046           @cloudant/couchbackup        npm  node      2
12422              @graphile/postgis        npm  node      1
15936    @luminati-io/luminati-proxy        npm  node      1
...                              ...        ...   ...    ...
2642721                    yaml2json        npm  node      2
2647248                         ynab        npm  node      1
2652584                           yq        npm  node      2
2656285                           yt        npm  node      2
2662845                         zold        npm  node      2

[603 rows x 4 columns]

In [103]:
len(packages.query('image == "luminati/luminati-proxy"'))

934

In [111]:
df.query('package =="@luminati-io/luminati-proxy" and dependency=="webpack"')

       base                      package dependency
77330  node  @luminati-io/luminati-proxy    webpack

In [118]:
core = packages.query('core==True')[['package','base']].drop_duplicates()

In [120]:
core.groupby(['base']).count()

      package
base
node      370
ruby       41

In [124]:
core[core.package.isin(df.dependency)].groupby(['base']).count()

      package
base
node      370
ruby       21

In [126]:
len(packages), len(df)

(599458, 85327)

In [179]:
# check if both packages exist in the images
if False:
    packages  = pd.read_csv('../data/cleaned_installed_packages.csv', 
                            usecols=['image','base','package'])
    packages.drop_duplicates(inplace=True)
    packages.dropna(inplace=True)

    df  = pd.read_csv('../data/package_dependencies.csv')
    df = df.query('package!=dependency')
    df.dropna(inplace=True)

    packages = packages.set_index('package')

    def intersection(lst1, lst2): 
        lst3 = [value for value in lst1 if value in lst2] 
        return lst3 

    results = []
    for row in tqdm(df.iterrows(), total=len(df)):
        package = row[1]['package']
        dependency = row[1]['dependency']
        try:
            l1 = packages.loc[package].image.unique().tolist()
        except:
            l1 = [packages.loc[package].image]
        try:
            l2 = packages.loc[dependency].image.unique().tolist()
        except:
            l1 = [packages.loc[dependency].image]

        if len(intersection(l1,l2))>0:
            results.append(True)
        else:
            results.append(False)

HBox(children=(IntProgress(value=0, max=85253), HTML(value='')))